{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="{% static 'pa/images/faces/face1.jpg' %}" alt="profile">
                    <span class="login-status online"></span> <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">{{ request.user.username }}</span>
                    <span class="text-secondary text-small">Администратор</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_panel_route_list' %}">
                <span class="menu-title">Маршруты</span>
                <i class="mdi mdi-road menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_panel_route_platform_list' %}">
                <span class="menu-title">Остановки</span>
                <i class="mdi mdi-vector-point menu-icon"></i>
            </a>
        </li>
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'admin_panel_report_list' %}">#}
{#                <span class="menu-title">Заявки</span>#}
{#                <i class="mdi mdi-file-document menu-icon"></i>#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'admin_panel_announcements_list' %}">#}
{#                <span class="menu-title">Объявления</span>#}
{#                <i class="mdi mdi-panda menu-icon"></i>#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'admin_panel_news_list' %}">#}
{#                <span class="menu-title">Новости</span>#}
{#                <i class="mdi mdi-newspaper menu-icon"></i>#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'admin_panel_people_list' %}">#}
{#                <span class="menu-title">Сотрудники</span>#}
{#                <i class="mdi mdi-account menu-icon"></i>#}
{#            </a>#}
{#        </li>#}
    </ul>
</nav>