{% extends 'admin_panel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
        <div class="card-header"><h4>Добро пожаловать в систему</h4></div>
        <div class="card-body p-2 p-sm-4">
            <div class="btn btn-gradient-primary w-100 ajax_form"><i
                    class="mdi mdi-library-plus pr-sm-1 d-inline d-sm-none"></i><span class="d-none d-sm-inline">Добавить объект в систему</span>
            </div>
            <div class="flat_types"></div>
            <div class="ajax-body"></div>
        </div>
    </div>

{% endblock %}