{% extends 'admin_panel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mt-3">
        <form class="form-horizontal" method="POST" action="">
            {% csrf_token %}
            <div class="row from-row my-2">
                <div class="col-4">
                    <label>Выберите маршрут для редактирования</label>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select name="route" id="route_1" class="custom-select">
                            {% for r in routes %}
                                <option {% if forloop.first %}selected{% endif %}
                                        value="{{ r.id }}">{{ r.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <label>Задайте последовательность остановок</label>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="row form-row my-2">
                    <div class="col-4">
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm">
                            {{ form.route_platform }}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row m-0">
                <button type="submit" class="btn btn-block btn-primary">Сохранить</button>
            </div>
        </form>
    </div>
    <div class="container-fluid" id="map_container">
        <div id="map" class="w-100 h-100" style="min-height: 500px"></div>
        <button class="btn btn-block btn-primary w-100 my-2" id="map_save">Сохранить</button>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/L.Routing.js' %}"></script>
    <script src="{% static 'js/L.Routing.Storage.js' %}"></script>
    <script src="{% static 'js/L.Routing.Draw.js' %}"></script>
    <script src="{% static 'js/L.Routing.Edit.js' %}"></script>
    <script>
        $(function () {
            $('#map_container').hide();
            var polyline;
            var $form;
            $('form').submit(function (e) {
                $form = $(this);
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize()
                }).done(function (data) {
                    $form.hide();
                    $('#map_container').show();
                    var coordinates = [];
                    var contexts = [];
                    JSON.parse(data).forEach(function (item) {
                        coordinates.push([item.fields.latitude, item.fields.longitude]);
                        contexts.push({'point_fields': item.fields, 'id': item.pk})
                    });
                    polyline = L.Polyline.PolylineEditor(coordinates, {maxMarkers: 100}, contexts).addTo(map);
                }).fail(function () {
                    alert('Ошибка созранения даных')
                });
                //отмена действия по умолчанию для кнопки submit
                e.preventDefault();
            });
            $('#map_save').click(function (e) {
                var points = polyline.getPoints();
                var points_obj = [];
                for (var i = 0; i < points.length; i++) {
                    var point = points[i];
                    var p = {};
                    p.latitude = point.getLatLng().lat;
                    p.longitude = point.getLatLng().lng;
                    p.context = point.context;
                    points_obj.push(p);
                    {#if (point.context) {#}
                    {# }#}
                }
                $.ajax({
                    type: $form.attr('method'),
                    url: '{% url 'admin_panel_mapped_path_save' %}',
                    data: JSON.stringify(points_obj)
                 }).done(function (data) {
                    window.location.replace("{% url 'admin_panel_mapped_route_add' %}");
                 }).fail(function () {
                    alert('Ошибка созранения даных')
                });
            })
        })
    </script>
    <script type="text/javascript">
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
                var name = $(this).attr('name')
                if (name) {
                    name = name.replace('-' + (total - 1) + '-', '-' + total + '-');
                    var id = 'id_' + name;
                    $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                }
            });
            newElement.find('label').each(function () {
                var forValue = $(this).attr('for');
                if (forValue) {
                    forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('-');
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1) {
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '.add-form-row', function (e) {
            e.preventDefault();
            cloneMore('.form-row:last', 'form');
            return false;
        });
        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });

    </script>
    <script>
        var map = L.map('map', {
            layers: [
                L.tileLayer('//{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    'attribution': 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
                })
            ],
            center: [52.022331, 47.782818],
            zoom: 13
        });
        {#var router = L.routing.osrmv1()#}
        {#var routing = new L.Routing({#}
        {#    position: 'topright'#}
        {#    , routing: {#}
        {#        router: router#}
        {#    }#}
        {#    , tooltips: {#}
        {#        waypoint: 'Waypoint. Drag to move; Click to remove.',#}
        {#        segment: 'Drag to create a new waypoint'#}
        {#    }#}
        {#    , styles: {     // see http://leafletjs.com/reference.html#polyline-options#}
        {#        trailer: {}  // drawing line#}
        {#        , track: {}   // calculated route result#}
        {#        , nodata: {}  // line when no result (error)#}
        {#    }#}
        {#    , shortcut: {#}
        {#        draw: {#}
        {#            enable: 68    // 'd'#}
        {#            , disable: 81  // 'q'#}
        {#        }#}
        {#    }#}
        {# });#}
        {#map.addControl(routing);#}
    </script>
{% endblock %}
